<html>
    <head>
        <title>法大傻的钓鱼网站</title>
    </head>
    <body>
        <h1>装逼日报：五月装逼指数达176，同比上涨6.3%</h1>
        <p>装逼日期：2017-05-12 00:25</p>
        <h2>您的位置：{{.IP}}, {{.Area}}, {{.Region}}, {{.City}}, {{.ISP}}<h2>
    </body>
</html>
